* {
  box-sizing: border-box;
}

body {
  font-family: semplicitapro, sans-serif;
  font-weight: 300;
  font-style: normal;
  background-image: url('https://render.fineartamerica.com/images/rendered/default/poster/8/10/break/images/artworkimages/medium/2/1-hogwarts-crest-monn-print.jpg');
  background-size: 300px 400px;
  background-repeat: repeat;
  color: black;
}

h1,
h2,
h3,
.nav-brand {
  font-family: scrivano, serif;
  font-weight: 400;
  font-style: normal;
}

.dashboard {
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
}

.dashboard-column {
  display: flex;
  flex-flow: column nowrap;
  width: 33%;
  background-color: white;
  margin: 1em;
  opacity: 0.9;
  padding-left: 1em;
}

.stock-div {
  margin-top: 1em;
  margin-bottom: 1em;

}

.red {
  background-color: rgb(134, 9, 9);
}

.btn {
  font-size: 0.3em;
  margin: 0.5em;
}

.btn-small {
  font-size: 0.2em;
  padding: 0.3em;
}
